In [1]:
import json

from kafka import KafkaProducer

def json_serializer(data):
    return json.dumps(data).encode('utf-8')

server = 'localhost:9092'

producer = KafkaProducer(
    bootstrap_servers=[server],
    value_serializer=json_serializer
)

producer.bootstrap_connected()

True

In [13]:
import pandas as pd


used_columns = [
    'lpep_pickup_datetime',
    'lpep_dropoff_datetime',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'tip_amount'
]
df = pd.read_csv('green_tripdata_2019-10.csv.gz', nrows=1000, usecols=used_columns)

In [3]:
df

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,tip_amount
0,2019-10-01 00:26:02,2019-10-01 00:39:58,112,196,1,5.88,0.00
1,2019-10-01 00:18:11,2019-10-01 00:22:38,43,263,1,0.80,0.00
2,2019-10-01 00:09:31,2019-10-01 00:24:47,255,228,2,7.50,0.00
3,2019-10-01 00:37:40,2019-10-01 00:41:49,181,181,1,0.90,0.00
4,2019-10-01 00:08:13,2019-10-01 00:17:56,97,188,1,2.52,2.26
...,...,...,...,...,...,...,...
995,2019-10-01 07:37:00,2019-10-01 08:06:40,74,186,1,6.63,5.61
996,2019-10-01 07:36:26,2019-10-01 08:06:43,7,65,2,8.15,5.66
997,2019-10-01 07:51:00,2019-10-01 07:52:30,75,74,1,0.63,0.00
998,2019-10-01 07:57:32,2019-10-01 08:11:12,76,222,1,1.80,0.00
999,2019-10-01 07:43:02,2019-10-01 07:56:32,116,24,1,2.48,2.46

In [ ]:
import time
import numpy as np
import pandas as pd

t0 = time.time()

chunksize = 10 ** 6
filename = 'green_tripdata_2019-10.csv.gz'
used_columns = [
    'lpep_pickup_datetime',
    'lpep_dropoff_datetime',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'tip_amount'
]
topic_name = 'green-trips'
dtypes = set()

with pd.read_csv(filename, chunksize=chunksize, usecols=used_columns) as reader:
    for chunk in reader:
        records = chunk.to_dict(orient='records')
        for record in records:
            dtypes.insert(type(record['passenger_count']))
            # producer.send(topic_name, value=record)

    # producer.flush()

t1 = time.time()
took = t1 - t0
print(took)

1.454479455947876

In [13]:
producer.flush()